<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load flatpages %}
<html>
<head>
    <title>IBStorage</title>
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/storage.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.address-1.4.js?crawlable=1&autoUpdate=1"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pure.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/storage.js"></script>
    <script type="text/javascript">
        $(function() {
            $.address.change(function(event) {
                var url = event.value
                if (url == '/' || url.indexOf('?')>=0 && url.substr(0,url.indexOf('?')))
                {
                    url = '{% url list_files %}';
                }
                ajax_load(url);
            });
            $("form.address-form").live('submit', function(){
                $(this).ajaxSubmit({success:reload_callback,dataType:'json'});
                return false;
            })
            $('.address-link').live('click', function () {
                $.address.value($(this).attr('href'))
                return false;
            })
            $('.popup-link').live('click', function() {
                window.open($(this).attr('href'), 'storage popup', 'width:640;height=480;resizable=0')
                return false
            })
            $('.pages').live('change', function () {
                baseURL = $(this).attr('baseurl')
                $.address.value(baseURL+$(this).val()+'/')
            })
        })


    </script>
</head>
<body>
<div id="head">
    <div class="container">
        <div class="span-4">Logo here</div>
        <div class="span-4 prepend-16 last">Some information here</div>
        <div class="span-16 prepend-4" id="messages">
            <div class="msg-display"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="main">
    <div class="container">
        <div id="instructions" class="span-7 blueblock">
            <h3>Hello <span class="username"></span></h3>
            <p>Some instructions on how to use this site</p>
            <p>
            In at augue risus, vitae gravida odio. In vel sapien odio, sed iaculis mauris.
            </p>
            <p>
            Vivamus consectetur rutrum faucibus. Proin accumsan, risus et blandit bibendum, lacus neque lobortis orci, a mollis eros mi at velit. 
            </p>
            <p>Usefull links</p>
            <p class="auth">
                <a href="/" class="address-link">List your files</a><br>
                <a href="/upload/" class="address-link">Upload new file</a><br>
                <a href="{% url ajax_logout %}" class="address-link">Logout</a>
            </p>
            <p class="guest">
                <a href="/" class="address-link">Login</a>
            </p>
        </div>
        <div id="login" class="span-7 blueblock">
            <h3>Login</h3>
            <p>You have to login</p>
            <p>
                <a href="{% url socialauth_begin backend="google-oauth2" %}" class="popup-link">Using Google</a>
                <br>
                <a href="{% url socialauth_begin backend="twitter" %}" class="popup-link">Using Twitter</a>
            </p>
        </div>
        <div id="filelist" class="span-7 blueblock">
            <div class="emptyMsg"></div>
            <ul class="files">
                <li><a></a><br/><em></em></li>
            </ul>
            <div class="pager">
                Page: 
                <select class="pages" baseurl="{% url list_files %}">
                    <option></option>
                </select>
            </div>
        </div>
        <div id="fileupload" class="span-7 blueblock">
            <form action="/upload/" id="uploadForm" method="POST" enctype="multipart/form-data" class="address-form" >
                {% for f in fileform %}
                    <div class="field">
                        {{ f.label_tag }}<br>
                        {{ f }} {{ f.help_text }}<br>
                        <em class="{{ f.name }}-err field-error"></em>
                    </div>
                {% endfor %}
                <input type="submit" value="Upload">
            </form>
        </div>
        <div id="fileinfo" class="span-7 blueblock">
            <a class="back address-link" href="/" >&lt; List all files</a>
            <h3></h3>
            <div class="details">
                <div class="field">
                    <strong></strong><br/>
                    <span></span>
                </div>
            </div>
            <div class="actions">
                Available actions:
                <ul>
                    <li><a></a></li>
                </ul>
            </div>
        </div>
        <div id="sharebox" class="span-7 blueblock">
            <a class="back">&lt; Back to file</a>
            <h3></h3>
            <p>
                You can share this file by either sending this link to your friends
                <br>
                <input type="text" class="link" value="">
            </p>
            <p>Or emailing your friends via our service</p>
            <form id="shareForm" class="share-form address-form" action="" method="POST">
                <div class="form-content"></div>
                <input type="submit">
            </form>
        </div>
        <div id="publish" class="span-7 blueblock">
            <h3></h3>
            <p>File status is <span class="status"></span></p>
            <p>Do you want to change it?</p>
            <form class="address-form" method="POST" action="">
                <input type="submit" value="Yes"> or
                <a class="back">No</a>
            </form>
        </div>
        <div id="filedelete" class="span-7 blueblock">
            <h3></h3>
            <p>Do you want to delete file?</p>
            <form class="address-form" method="POST" action="">
                <input type="submit" value="Yes"> or
                <a class="back">No</a>
            </form>
        </div>
        <div id="flatpage" class="span-7 blueblock">
            <h3></h3>
            <div class="content"></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="span-20 prepend-4 last">
            {% get_flatpages as flatpages %}
            {% for page in flatpages %}
                <a class="address-link" href="{{ page.url }}">{{ page.title }}</a>&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>